<md-content layout-gt-sm='row' layout='column'>

  <md-content flex="0" flex-gt-sm="5"></md-content>

  <md-content flex="100" flex-gt-sm="90" layout='column'>


    <md-card flex>
      <md-content>
        <!-- <md-card-title>
        <md-card-title-text>
          <span class='md-headline'>Existing Rules</span>
        </md-card-title-text>
      </md-card-title> -->
        <md-card-content>


          <div ng-cloak>
            <md-content>
              <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">


                <md-tab label="Overview">
                  <md-content class="md-padding">
                    <h1 class="md-display-2"><b>{{transaction.transaktion_art}}</b></h1>

                    <md-table-container style="font-site:72px">
                      <table md-table>

                        <tbody md-body style="font-size:x-large;">
                          <tr md-row>
                            <td md-cell><b>Klassifizierung:</b></td>
                            <td md-cell>{{transaction.type}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Empfänger:</b></td>
                            <td md-cell>{{transaction.empfaenger_or_zahlungspflichtiger}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Betrag:</b></td>
                            <td md-cell>{{transaction.betrag}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Verwendungszweck:</b></td>
                            <td md-cell>{{transaction.umsatzdetails_or_verwendungszweck}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Zeit:</b></td>
                            <td md-cell>{{transaction.buchungstag}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Betroffenes Konto:</b></td>
                            <td md-cell>{{transaction.konto}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </md-table-container>

                  </md-content>
                </md-tab>


                <md-tab label="Details">
                  <md-content class="md-padding">
                    <h1 class="md-display-2"></h1>

                    <md-table-container style="font-site:72px">
                      <table md-table>
                        <tbody md-body style="font-size:x-large;">
                          <tr md-row>
                            <td md-cell><b>Klassifizierung:</b></td>
                            <td md-cell>{{transaction.type}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Empfänger:</b></td>
                            <td md-cell>{{transaction.empfaenger_or_zahlungspflichtiger}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Betrag:</b></td>
                            <td md-cell>{{transaction.betrag}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Ende-zu-Ende Referenz:</b></td>
                            <td md-cell>{{transaction.e2e_ref}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Verwendungszweck:</b></td>
                            <td md-cell>{{transaction.umsatzdetails_or_verwendungszweck}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Transaktionsart:</b></td>
                            <td md-cell>{{transaction.transaktion_art}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Buchungstag:</b></td>
                            <td md-cell>{{transaction.buchungstag}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Wertstellungstag:</b></td>
                            <td md-cell>{{transaction.wertstellungstag}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Betroffenes Konto:</b></td>
                            <td md-cell>{{transaction.konto}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Gläubiger ID:</b></td>
                            <td md-cell>{{transaction.glaeubiger_id}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Beleg Nummer:</b></td>
                            <td md-cell>{{transaction.beleg}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Verwendungsschlüssel:</b></td>
                            <td md-cell>{{transaction.verwendungsschluessel}}</td>
                          </tr>
                          <tr md-row>
                            <td md-cell><b>Mandatsreferenz:</b></td>
                            <td md-cell>{{transaction.mandatsreferenz}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </md-table-container>

                  </md-content>
                </md-tab>

              </md-tabs>
            </md-content>
          </div>


        </md-card-content>
      </md-content>


      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised flagFraud" ng-if="transaction.type==='N/A'||transaction.type==='Special Interest'||transaction.type==='Harmlos'" ng-click="flagTransaction('Fraud')">
          Fraud
        </md-button>
        <md-button class="md-raised flagSpecial" ng-if="transaction.type==='N/A'||transaction.type==='Fraud'||transaction.type==='Harmlos'" ng-click="flagTransaction('Special Interest')" style="background:lime;">
          Special Interest
        </md-button>
        <md-button class="md-raised flagInnocent" ng-if="transaction.type==='N/A'||transaction.type==='Fraud'||transaction.type==='Special Interest'" ng-click="flagTransaction('Harmlos')">
          Harmlos
        </md-button>
        <md-button class="md-raised contactBank" ng-if="transaction" ng-click="">
          Bankberater Kontaktieren
        </md-button>
      </md-card-actions>


    </md-card>

  </md-content>
