<div id="wrapper">
  <!-- Navigation -->
  <div id="page-wrapper">

    <div layout="row" layout-align="center " layout-wrap layout-gt-xs>
      <div flex="20"></div>

      <div ng-controller="accountCtrl" layout="column" ng-cloak class="md-inline-form" style='border:1px solid black;' flex="60">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container>
              <label>Role</label>
              <input ng-model="userProfile.role" readonly>
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="userProfile.mail" type="email" readonly>
            </md-input-container>
          </div>
        </md-content>
        <md-content layout-padding id="accountMain">
          <div>
            <form name="userForm">
              <div layout-gt-xs="row">
                <md-input-container class="md-block">
                  <label>Company</label>
                  <input ng-model="userProfile.company" readonly>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name</label>
                  <input ng-model="userProfile.firstName" readonly>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last Name</label>
                  <input ng-model="userProfile.lastName" readonly>
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="userProfile.address" readonly>
              </md-input-container>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>City</label>
                  <input ng-model="userProfile.city" readonly>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Postal Code</label>
                  <input name="postalCode" ng-model="userProfile.postalCode" placeholder="12345"  ng-pattern="/^[0-9]{5}$/" readonly>
                  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                    <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Last Events</label>
                <textarea ng-model="user.lastEvents"  rows="1" md-select-on-focus readonly></textarea>
              </md-input-container>
            </form>
          </div>
        </md-content>
      </div>

      <div flex="20"></div>
    </div>
  </div>
</div>
