<md-content layout='column'>

  <md-content layout-gt-sm='row' layout='column'>
    <md-card flex>
      <md-content>
        <md-card-title>
          <md-card-title-text>
            <span class='md-headline'>Spending History</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <canvas class='chart chart-line' chart-data='line_data' chart-labels='line_labels' chart-series='line_series' chart-click='onClick' />
        </md-card-content>
      </md-content>
    </md-card>

    <md-card flex>
      <md-content>
        <md-card-title>
          <md-card-title-text>
            <span class='md-headline'>Budget Allocation</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <canvas class='chart chart-doughnut' chart-data='pie_data' chart-labels='pie_labels' chart-series='pie_series' />
        </md-card-content>
      </md-content>
    </md-card>
  </md-content>

  <md-content layout-gt-sm='row' layout='column'>
    <md-card flex>
      <md-content>
        <md-card-title>
          <md-card-title-text>
            <span class='md-headline'>Spending Habits</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <canvas id="radar" class="chart chart-radar" chart-data="radar_data" chart-labels="radar_labels"></canvas>
        </md-card-content>
      </md-content>

      <md-card-actions layout='row' layout-align='end center'>
      </md-card-actions>
    </md-card>

    <md-card flex>
      <md-content>
        <md-card-title>
          <md-card-title-text>
            <span class='md-headline'>Spending Compared to 2016</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <canvas id="bar" class="chart chart-bar" chart-data="bar_data" chart-labels="bar_labels" chart-series="bar_series" </canvas>
        </md-card-content>
      </md-content>
      <md-card-actions layout='row' layout-align='end center'>
        <md-button ng-click='increment()'>increment</md-button>
      </md-card-actions>
    </md-card>
  </md-content>

</md-content>
