<md-content layout-gt-sm='row' layout='column'>

  <md-content flex="100" flex-gt-sm="65" layout='column'>

    <md-content layout-gt-sm='row' layout='column'>
      <md-card flex>
        <md-content>
          <md-card-title>
            <md-card-title-text>
              <span class='md-headline'>Spending History</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <canvas class='chart chart-line' chart-data='line.data' chart-labels='line.labels' chart-series='line.series' chart-click='onClick' />
          </md-card-content>
        </md-content>
      </md-card>

      <md-card flex>
        <md-content>
          <md-card-title>
            <md-card-title-text>
              <span class='md-headline'>Budget Allocation</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <canvas class='chart chart-doughnut' chart-data='doughnut.data' chart-labels='doughnut.labels' chart-series='doughnut.series' />
          </md-card-content>
        </md-content>
      </md-card>
    </md-content>

    <md-content layout-gt-sm='row' layout='column'>
      <md-card flex>
        <md-content>
          <md-card-title>
            <md-card-title-text>
              <span class='md-headline'>Spending Habits</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <canvas id="radar" class="chart chart-radar" chart-data="radar.data" chart-labels="radar.labels" chart-series="radar.series"></canvas>
          </md-card-content>
        </md-content>

        <md-card-actions layout='row' layout-align='end center'>
        </md-card-actions>
      </md-card>

      <md-card flex>
        <md-content>
          <md-card-title>
            <md-card-title-text>
              <span class='md-headline'>
              Spending Compared to {{spendingYear}}
            </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <canvas id="bar" class="chart chart-bar" chart-data="bar.data" chart-labels="bar.labels" chart-series="bar.series" </canvas>
          </md-card-content>
        </md-content>
        <md-card-actions layout='row' layout-align='end center'>
          <md-button ng-click='showPrompt($event)'>Change Year</md-button>
        </md-card-actions>
      </md-card>

    </md-content>

  </md-content>


  <md-content flex="100" flex-gt-sm="35" layout='column'>

    <md-card flex>
      <md-content>
        <md-card-title>
          <md-card-title-text>
            <span class='md-headline'>
            Events
          </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-table-container>
            <table md-table >
              <thead md-head md-order="query.order">
                <tr md-row>
                  <th md-column md-order-by="nameToLower"><span>Type</span></th>
                  <th md-column md-numeric md-order-by="timestamp"><span>Timestamp</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="event" md-select-id="type" md-auto-select ng-repeat="event in events.data">
                  <td md-cell>{{event.type}}</td>
                  <td md-cell>{{event.timestamp}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <!-- <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination> -->
        </md-card-content>
      </md-content>
    </md-card>

  </md-content>


</md-content>
